#stars-container{
    background: rgba(56, 53, 53, 0.377);
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    padding: 8px;
    border-radius: 3px;

}

.fa{
    cursor: pointer;
    color: rgba(128, 128, 128, 0.5);
}
.checked{
    color: orange;
}

